@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

html {
  min-width: 1040px;
}

body {
  background: #F0F0F0;
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 960px;
}

#bubbleChart {
  margin-left: -40px;
  height: 606px;
}

text {
  font: 10px sans-serif;
}

.dot {
  stroke: none;
  opacity:0.5;

}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}


header,
footer,
h1,
h2,
h3,
h4,
aside {
  color: #000;
  font-family: "PT Serif","Univers","PT Sans", sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

h2 {
  margin-top: 2em;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}

footer {
  font-size: small;
  margin-top: 8em;
}

header aside {
  margin-top: 80px;
}

header aside,
footer aside {
  color: #636363;
  text-align: right;
}

aside {
  font-size: small;
  right: 0;
  top: 105px;
  position: absolute;
  width: 180px;
}

.attribution {
  font-size: small;
  margin-bottom: 2em;
}

body > p, li > p {
  line-height: 1.5em;
}

body > p {
  width: 720px;
}

body > blockquote {
  width: 640px;
}

li {
  width: 680px;
}

a {
  color: #000000;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "PT Serif", monospace;
}

code {
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

body > pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

svg {
  font: 10px sans-serif;

}

.axis path, .axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

sup, sub {
  line-height: 0;
}

q:before,
blockquote:before {
  content: "“";
}

q:after,
blockquote:after {
  content: "”";
}

blockquote:before {
  position: absolute;
  left: 2em;
}

blockquote:after {
  position: absolute;
}

#chart {
  margin-left: -40px;
  height: 606px;
}

text {
  font: 10px sans-serif;
}

.dot {
  stroke: none;
  opacity:0.5;

}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 100 196px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

node rect {
  cursor: move;
  fill-opacity: .5;
  shape-rendering: crispEdges;
}

.node text {
  font-family:"PT Serif", Times, serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
  stroke: #66CCCC;
}

#tooltip {
        position: absolute;
        width: 300px;
        height: auto;
        padding: 10px;
       
        }
      #tooltip.hidden {
        display: none;
      }
      #tooltip p { margin: 0;
        font-family: sans-serif; font-size: 16px;
        line-height: 20px;
      }
#key{
  font-family: "PT Serif", Helvetica, Arial, sans-serif;

}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}

